################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSCN71020_Group3/FileContentIndex/bb91e8b6-1256-43e6-b869-4f445ce6a5a2.vsidx
