################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSCN71020_Group3/FileContentIndex/17c3e2a7-f392-4720-a77c-82a800e4b76d.vsidx
